#tool-display-container{
    margin: auto;
    padding-top: 100px;
    width: 100%;
    max-width: 1080px;
}

#tool-display-container > img{
    display: block;
    max-width: 50%;
    float: center;
    padding: 30px;
}

#tool-display-container > div > div{
	padding-top: 50px;
}

#tool-display-container > div > div > h1{
    text-align: center;
    float: center;
    padding: 50px;
}

#tool-display-container > div > div > p{
	float: center;
}

#tool-overview-container > div{
    width: calc(50% - 40px);
    float: left;
    margin: 25px;
    background: rgba(228, 232, 235, 0);
}