<div class="questions-container">
  <h1>
    Questions?
  </h1>
  <br>
  <h4>What is ToolSelector?</h4>
  <p>ToolSelector is a method developed by Arnold Zhou, Ayoola Olapo, Sahibdeep Gill, Kevin Paul, Jad Zreik
    in order to help scientists choose the right tool to properly analyze their RNA sequence datasets.
  </p>
  <br>
  <h4>Who created ToolSelector?</h4>
  <p>ToolSelector was created as part of the project in the University of Michigan Fall 2017 course BIOINF 527. Arnold Zhou and   Ayoola Olapo created the website
    while Sahibdeep Gill, Kevin Paul and Jad Zreik supplemented the information needed to make ToolSelector come to life.</p>
  <br>
  <h4>What types of tools are there?</h4>
  <p>All of the tools are listed <a href='/tool-overview'>here</a>.</p>
  <br>
  <h4>Data format question?</h4>
  <p>Data format answer.</p>
  <br>
  <h4>Other general questions?</h4>
  <p>Other general answers</p>
  <br>
  <h4>Other general questions?</h4>
  <p>Other general answers</p>
  <br>
  <h4>Other general questions?</h4>
  <p>Other general answers</p>
  <br>
  <h4>Other general questions?</h4>
  <p>Other general answers</p>
  <br>
  <h4>Other general questions?</h4>
  <p>Other general answers</p>
</div>