<div class="questions-container">
  <h1>
    Questions?
  </h1>
  <br>
  <h4>What is ToolSelector?</h4>
  <p>ToolSelector is a method developed by Arnold Zhou, Ayoola Olapo, Sahibdeep Gill, Kevin Paul, Jad Zreik
    in order to help scientists choose the right tool to properly analyze their RNA sequence datasets.
  </p>
  <br>
  <h4>Who created ToolSelector?</h4>
  <p>ToolSelector was created as part of the project in the University of Michigan Fall 2017 course BIOINF 527. Arnold Zhou and  Ayoola Olapo created the website
    while Sahibdeep Gill, Kevin Paul and Jad Zreik supplemented the information needed to make ToolSelector come to life.</p>
  <br>
  <h4>What types of tools are there?</h4>
  <p>All of the tools are listed <a href='/tool-overview'>here</a>.</p>
  <br>
  <h4>I want more information about a specific tool.</h4>
  <p>To get more information about a specific tool, the image of the tool may be clicked on <a href='/tool-overview'>here</a>. Alternatively, a button may exist that you may click to view more information about the tool.</p>
  <br>
  <h4>How does ToolSelector work?</h4>
  <p>The magic of ToolSelectors begins at the home page, where you will be asked a series of questions, after hitting start, to choose the correct RNA sequencing tool for you.</p>
  <br>
  <h4>The tool I want isn't on ToolSelector. What do I do?</h4>
  <p>Sadly, we aren't able to provide all of the tools that may be used to analyze various RNA data. Therefore, the only types of tools we have focused on are listed 
      <a href='/tool-overview'>here</a>. Eventually, we hope that we are able to add more tools and keep our questions even more general to help choose the right tool for you.
  </p>
  <br>
  <h4>Is it possible to start a quiz from the middle?</h4>
  <p>In order to get a very concise sense of what type of tool you may need, we inquire about the type of tool you want and the data you have from our set of questions. 
    Therefore, we ask that you start from the beginning of the set of questions to best suit your needs. If you're curious about any of the tools we have, you can click
    <a href='/tool-overview'>here</a> or on "Tools" in the navigation bar to access all of the tools we have available.
  </p>
  <br>
  <h4>Something's wrong. Help.</h4>
  <p>In most cases, a simple refresh will resolve the issue.</p>
  <br>
  <h4>The words are too small. How can I make them larger?</h4>
  <p>To make the font larger, hold "Ctrl" on your keyboard and tap "+" to magnify the screen or "-" to zoom out. Alternatively, hold "Ctrl" and 
    scroll up or down to magnify or zoom out respectively.
  </p>
</div>