button{
    background: #ca9b9b;
    position: absolute;
    margin: auto;
    top:0;left:0;right:0;bottom:0;
    width: 500px;
    height: 150px;
    cursor: pointer;
    border: 0px;
}

h1{
    color: white;
    text-align: center;
    line-height: 150px;
}