div{
    z-index: -1;
    background: transparent;
    position: absolute;
    margin: auto;
    top:0;left:0;right:0;bottom:0;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: red;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: default;
    margin: 30px;
}