#questions-container{
    margin: auto;
    width: 70%;
    min-height: 500px;
    min-width: 300px;
    background: rgba(192, 192, 202, 0);
    padding-top: 130px;
}

#questions-container > h1:first-of-type{
    text-align: center;
    margin-top: 20px;
}

.choice-container{
    width: 100%;
    min-height: 50px;
    margin: 5px 10px;
    background: rgb(192, 217, 238);
    display: flex;
    align-items: center;
}

.choice-container:hover{
    cursor: pointer;
    background: #483ea5;
    color: white;
}

.choice-container > p{
    margin: 5px 30px;
    font-size: 20px;
    vertical-align: center;
}

#back-reset-container{
    width: 100%;
    height: 150px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#back-reset-container > a{
    text-decoration: none;
}

#back-reset-container > div,a > div{
    width: 100px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

#back-reset-container > a > div{
    background: rgb(255, 131, 131);
}

#back-reset-container > div{
    background: rgb(131, 164, 255);
}

#back-reset-container > a > div:hover{
    background: red;
}

#back-reset-container > div:hover{
    background: blue;
}