#home-page-container{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: auto;
    width: 500px;
    height: 150px;
}
#home-page-container > h1{
    text-align: center;
    line-height: 150px;
}